.form{
    border: 2px solid rgb(235, 178, 132);
    background-color: rgb(219, 216, 163);
    border-radius: 25%;
    text-align: center;
    padding: 5%;
    margin: 15px;
}
 textarea{
     height: 200px;
 }

body{
    background-color: rgb(88, 88, 83);
}

